<h2>{{ i18n "binary-package" }}</h2>
<p>{{ partial "fn/i18n_args" (slice "binary-package-text" "https://community.kde.org/Get_KDE_Software_on_Your_Linux_Distro") | markdownify }}</p>

<h2>{{ i18n "sources" }}</h2>
