<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeaccessibility-4.4.92.tar.bz2">kdeaccessibility-4.4.92</a></td><td align="right">5.2MB</td><td><tt>1795aee8758b7b0a568d3fdfe0cacf22cb52bf07</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeadmin-4.4.92.tar.bz2">kdeadmin-4.4.92</a></td><td align="right">1.4MB</td><td><tt>16fe378c0a8e3cd6b21c3c9fef8b9566101e6be2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeartwork-4.4.92.tar.bz2">kdeartwork-4.4.92</a></td><td align="right">98MB</td><td><tt>3a1150df25b77ea327b205d673fb9bd749ac29da</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdebase-4.4.92.tar.bz2">kdebase-4.4.92</a></td><td align="right">2.5MB</td><td><tt>89d9f8c2b327c8ab186e4357b43ce369c832debe</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdebase-runtime-4.4.92.tar.bz2">kdebase-runtime-4.4.92</a></td><td align="right">5.5MB</td><td><tt>f5b287e6556db46b5626eb4f5381b26c217ecaab</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdebase-workspace-4.4.92.tar.bz2">kdebase-workspace-4.4.92</a></td><td align="right">63MB</td><td><tt>59be819ef279dc5adf1f985d450a172d2fbde0e6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdebindings-4.4.92.tar.bz2">kdebindings-4.4.92</a></td><td align="right">6.1MB</td><td><tt>d067cc7a8f06f320c5b28cb7ff004d5837d60188</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeedu-4.4.92.tar.bz2">kdeedu-4.4.92</a></td><td align="right">62MB</td><td><tt>c9943eb91f9729580901a686114bd97907c8cbb5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdegames-4.4.92.tar.bz2">kdegames-4.4.92</a></td><td align="right">56MB</td><td><tt>cb86def8412f68458bc7a7dac8d8d2fbb47af77b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdegraphics-4.4.92.tar.bz2">kdegraphics-4.4.92</a></td><td align="right">3.7MB</td><td><tt>436b315f659757946ec856c96a7f2e7472b7867e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdelibs-4.4.92.tar.bz2">kdelibs-4.4.92</a></td><td align="right">14MB</td><td><tt>f14df83294fa1fda5de63d08b42f22975554d4b0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdemultimedia-4.4.92.tar.bz2">kdemultimedia-4.4.92</a></td><td align="right">1.6MB</td><td><tt>288e64683e6ac96ab5f10f9d848ef3f3699138dc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdenetwork-4.4.92.tar.bz2">kdenetwork-4.4.92</a></td><td align="right">7.8MB</td><td><tt>e10ffab9e04703a550bb2fdf8ae95a9671262b66</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdepimlibs-4.4.92.tar.bz2">kdepimlibs-4.4.92</a></td><td align="right">2.6MB</td><td><tt>b68b934af4af34ddbe7744dec5a5f53054f77fc4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeplasma-addons-4.4.92.tar.bz2">kdeplasma-addons-4.4.92</a></td><td align="right">1.7MB</td><td><tt>3ca4c54ed5ec4cefbe014c4aca8cc48ea53fecb0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdesdk-4.4.92.tar.bz2">kdesdk-4.4.92</a></td><td align="right">5.4MB</td><td><tt>0067df3a7b576cdbbf87433058e695d523cc08d5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdetoys-4.4.92.tar.bz2">kdetoys-4.4.92</a></td><td align="right">396KB</td><td><tt>9df95714d0700d515a4dd6e0c9cc373e643e0d7d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdeutils-4.4.92.tar.bz2">kdeutils-4.4.92</a></td><td align="right">3.5MB</td><td><tt>8e975525335d9a0e4eed37f4f9e1c9d352cc4ac3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/kdewebdev-4.4.92.tar.bz2">kdewebdev-4.4.92</a></td><td align="right">2.1MB</td><td><tt>a1e90fe2ea55b921aa11f3d272f84aa3a04f5da1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.92/src/oxygen-icons-4.4.92.tar.bz2">oxygen-icons-4.4.92</a></td><td align="right">133MB</td><td><tt>97ff6f8c9eddb17339a0049fbcbb7ce9fb08c718</tt></td></tr>
</table>
