
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/attica-5.87.0.tar.xz">attica-5.87.0</a></td>
   <td align="right">65kB</td>
   <td><tt>439f3d2e89f41d1d042765cf34b8cdf5859158f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/baloo-5.87.0.tar.xz">baloo-5.87.0</a></td>
   <td align="right">275kB</td>
   <td><tt>bf28c345a67c39b46b1d7f987a4d3bd8cc2f292f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/bluez-qt-5.87.0.tar.xz">bluez-qt-5.87.0</a></td>
   <td align="right">99kB</td>
   <td><tt>1cfa74fb52f747ccb702ebfbe72c5d7a5412f8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/breeze-icons-5.87.0.tar.xz">breeze-icons-5.87.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d2896943e890eabb61578d6b39602d064d8c8985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/extra-cmake-modules-5.87.0.tar.xz">extra-cmake-modules-5.87.0</a></td>
   <td align="right">311kB</td>
   <td><tt>36b9a7eab783bbec1f8f0a406491176b8429d01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/frameworkintegration-5.87.0.tar.xz">frameworkintegration-5.87.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3f5829609a23865abd7eac34f051294b2bd6a9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kactivities-5.87.0.tar.xz">kactivities-5.87.0</a></td>
   <td align="right">70kB</td>
   <td><tt>fe50c797d314b012766749f63b499f0bbb098f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kactivities-stats-5.87.0.tar.xz">kactivities-stats-5.87.0</a></td>
   <td align="right">80kB</td>
   <td><tt>6c7e9f12a6225faaad702c4f97d34f4755658d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kapidox-5.87.0.tar.xz">kapidox-5.87.0</a></td>
   <td align="right">190kB</td>
   <td><tt>cdcac4c86dfd48e8cef477a2a65339c736f67476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/karchive-5.87.0.tar.xz">karchive-5.87.0</a></td>
   <td align="right">962kB</td>
   <td><tt>c27da979a1335eab059bf369443b98373c5dff88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kauth-5.87.0.tar.xz">kauth-5.87.0</a></td>
   <td align="right">86kB</td>
   <td><tt>6199a7d875767c27877b59a20b2570d6d07e1b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kbookmarks-5.87.0.tar.xz">kbookmarks-5.87.0</a></td>
   <td align="right">124kB</td>
   <td><tt>0542bc59958d09ef2cb001e6e501cbef23188585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcalendarcore-5.87.0.tar.xz">kcalendarcore-5.87.0</a></td>
   <td align="right">254kB</td>
   <td><tt>80af68d7dbeb4631e2042df8636af0bd0e37c4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcmutils-5.87.0.tar.xz">kcmutils-5.87.0</a></td>
   <td align="right">160kB</td>
   <td><tt>a94fb65f7e82b79600058bc2d34bfaceec169d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcodecs-5.87.0.tar.xz">kcodecs-5.87.0</a></td>
   <td align="right">229kB</td>
   <td><tt>8dbee6fc42b51c2073236bd0f21a58683c26a910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcompletion-5.87.0.tar.xz">kcompletion-5.87.0</a></td>
   <td align="right">119kB</td>
   <td><tt>1e3f323e31573ce8c729c664f5bdb6e5a5faabfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kconfig-5.87.0.tar.xz">kconfig-5.87.0</a></td>
   <td align="right">266kB</td>
   <td><tt>c4043f88dae878d5015d4e0b492e2945f907587c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kconfigwidgets-5.87.0.tar.xz">kconfigwidgets-5.87.0</a></td>
   <td align="right">402kB</td>
   <td><tt>a91488dec4ebd6933b33db0b67bd4ad7d0558f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcontacts-5.87.0.tar.xz">kcontacts-5.87.0</a></td>
   <td align="right">531kB</td>
   <td><tt>e2992b43df037bb6c257165e7111aa7a2f47f03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcoreaddons-5.87.0.tar.xz">kcoreaddons-5.87.0</a></td>
   <td align="right">430kB</td>
   <td><tt>f6a59f4f47b49282928c87047c0aac0d81518c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kcrash-5.87.0.tar.xz">kcrash-5.87.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3f0ef00e264edfa6bbdc57c797c817350aee8cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdav-5.87.0.tar.xz">kdav-5.87.0</a></td>
   <td align="right">60kB</td>
   <td><tt>1ec72672b1d74560745238c30f6347a8acc40cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdbusaddons-5.87.0.tar.xz">kdbusaddons-5.87.0</a></td>
   <td align="right">44kB</td>
   <td><tt>29f195a19c82bb5ef96236b25d5f08d623259b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdeclarative-5.87.0.tar.xz">kdeclarative-5.87.0</a></td>
   <td align="right">186kB</td>
   <td><tt>7b2e9f6c4973ad997b2f9d89ffc6fe99d4bdc9e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kded-5.87.0.tar.xz">kded-5.87.0</a></td>
   <td align="right">36kB</td>
   <td><tt>7a5512deaac4d3af26d2128d0aa651ed7e744b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdesu-5.87.0.tar.xz">kdesu-5.87.0</a></td>
   <td align="right">51kB</td>
   <td><tt>927a919ee4bb28d14fed597847c5e7d470507008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdnssd-5.87.0.tar.xz">kdnssd-5.87.0</a></td>
   <td align="right">57kB</td>
   <td><tt>5846a9e50995550876bf7c47b8618d75b5336881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kdoctools-5.87.0.tar.xz">kdoctools-5.87.0</a></td>
   <td align="right">427kB</td>
   <td><tt>88a6b31ceae77eb72ae8bdb7a4a5b3d203d6dfed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kemoticons-5.87.0.tar.xz">kemoticons-5.87.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b7fb222eccec079da4cf48fea039198a941f3bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kfilemetadata-5.87.0.tar.xz">kfilemetadata-5.87.0</a></td>
   <td align="right">416kB</td>
   <td><tt>874f7d637c464771dd0d439a59a7fa1c28d1a452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kglobalaccel-5.87.0.tar.xz">kglobalaccel-5.87.0</a></td>
   <td align="right">86kB</td>
   <td><tt>67de7434038a705ae9304eb9f449937b96f7d56c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kguiaddons-5.87.0.tar.xz">kguiaddons-5.87.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6ef36d6a46205e0664c3e3a1c06631e4fb9ded8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kholidays-5.87.0.tar.xz">kholidays-5.87.0</a></td>
   <td align="right">226kB</td>
   <td><tt>07ff513bae3d21f4ef8c47bc91f4ae1a0157d64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/ki18n-5.87.0.tar.xz">ki18n-5.87.0</a></td>
   <td align="right">577kB</td>
   <td><tt>4a2b76b23d4fd2493ecc7f4f0560609742bcf290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kiconthemes-5.87.0.tar.xz">kiconthemes-5.87.0</a></td>
   <td align="right">216kB</td>
   <td><tt>a7f559454a477a098da97a52f295a537e27f26bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kidletime-5.87.0.tar.xz">kidletime-5.87.0</a></td>
   <td align="right">25kB</td>
   <td><tt>bcea17848cf156ba9e5e03f4c7d42523a4913a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kimageformats-5.87.0.tar.xz">kimageformats-5.87.0</a></td>
   <td align="right">576kB</td>
   <td><tt>9f8d06bf23f8c391ef2a4d6cc81edf1a60e1766e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kinit-5.87.0.tar.xz">kinit-5.87.0</a></td>
   <td align="right">119kB</td>
   <td><tt>0badfda90010f3b4b388cf37e082cc6d35c390db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kio-5.87.0.tar.xz">kio-5.87.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ecd8083ed68c003864ff20d0d8c6e86ad90faf11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kirigami2-5.87.0.tar.xz">kirigami2-5.87.0</a></td>
   <td align="right">324kB</td>
   <td><tt>71ace3b01ffe5e40c29d3fb3b2d692d4bf83d42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kitemmodels-5.87.0.tar.xz">kitemmodels-5.87.0</a></td>
   <td align="right">393kB</td>
   <td><tt>fa5896d1e0e4319f7215334840870b535f9a1b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kitemviews-5.87.0.tar.xz">kitemviews-5.87.0</a></td>
   <td align="right">73kB</td>
   <td><tt>6defed2bfcc8a3156e79295439ed6bc72268e824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kjobwidgets-5.87.0.tar.xz">kjobwidgets-5.87.0</a></td>
   <td align="right">96kB</td>
   <td><tt>c9821e857eaef825ef66714da0126b7e7ee4efe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/knewstuff-5.87.0.tar.xz">knewstuff-5.87.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0e0675f45c18d3befa632dcb70c3e46e3df1c207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/knotifications-5.87.0.tar.xz">knotifications-5.87.0</a></td>
   <td align="right">121kB</td>
   <td><tt>853a2d412c390153ef9d7283091f8c1c5fbcd06c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/knotifyconfig-5.87.0.tar.xz">knotifyconfig-5.87.0</a></td>
   <td align="right">83kB</td>
   <td><tt>611fe03abd4b08c2071eadc2ec309d4ea33958ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kpackage-5.87.0.tar.xz">kpackage-5.87.0</a></td>
   <td align="right">135kB</td>
   <td><tt>03e78bdb942046d479b42f36696188f471c50711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kparts-5.87.0.tar.xz">kparts-5.87.0</a></td>
   <td align="right">189kB</td>
   <td><tt>c1de70bf087305184d9169b4cde5718323c065fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kpeople-5.87.0.tar.xz">kpeople-5.87.0</a></td>
   <td align="right">55kB</td>
   <td><tt>eb1cd2a8c102ea38a6943b9010ad677f332b41b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kplotting-5.87.0.tar.xz">kplotting-5.87.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d64dad100aaa4f6ae875907f1b1181edac5bd9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kpty-5.87.0.tar.xz">kpty-5.87.0</a></td>
   <td align="right">55kB</td>
   <td><tt>239317b5c0429c144d6259d9d4ca6c76b658503c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kquickcharts-5.87.0.tar.xz">kquickcharts-5.87.0</a></td>
   <td align="right">105kB</td>
   <td><tt>e0ece73ea68b508911540ab0c6500b012b8ee732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/krunner-5.87.0.tar.xz">krunner-5.87.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0bc824b35f796b0bcf3431a4bd6359d393811619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kservice-5.87.0.tar.xz">kservice-5.87.0</a></td>
   <td align="right">258kB</td>
   <td><tt>d963edd471c78631bbd0b4d8c34b7dd05574464d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/ktexteditor-5.87.0.tar.xz">ktexteditor-5.87.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bd479f6577eb0d49fd70f33326dfbc5df1aad42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/ktextwidgets-5.87.0.tar.xz">ktextwidgets-5.87.0</a></td>
   <td align="right">319kB</td>
   <td><tt>349d4bacdb5146ba335d2f44705f903472a9b84a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kunitconversion-5.87.0.tar.xz">kunitconversion-5.87.0</a></td>
   <td align="right">868kB</td>
   <td><tt>70f666a78eaca043f2f1a99b04863ac66154f103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kwallet-5.87.0.tar.xz">kwallet-5.87.0</a></td>
   <td align="right">296kB</td>
   <td><tt>9d10bef1ec38b3f93963b58439d665fe2257ef49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kwayland-5.87.0.tar.xz">kwayland-5.87.0</a></td>
   <td align="right">324kB</td>
   <td><tt>470a8da35fde0e68f1d491147960863665e98720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kwidgetsaddons-5.87.0.tar.xz">kwidgetsaddons-5.87.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b16343cecb0653ad7adf9bf53c97c86e6cf8104f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kwindowsystem-5.87.0.tar.xz">kwindowsystem-5.87.0</a></td>
   <td align="right">175kB</td>
   <td><tt>91b0698d5ce446ea78e0d052e00d71cf25a2e16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/kxmlgui-5.87.0.tar.xz">kxmlgui-5.87.0</a></td>
   <td align="right">863kB</td>
   <td><tt>a89654dcbb0465d92103a1fe40cd9022aa9b1b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/modemmanager-qt-5.87.0.tar.xz">modemmanager-qt-5.87.0</a></td>
   <td align="right">115kB</td>
   <td><tt>5ea7a0c33e5ac157fa845d4d068340d5e238dfd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/networkmanager-qt-5.87.0.tar.xz">networkmanager-qt-5.87.0</a></td>
   <td align="right">191kB</td>
   <td><tt>72b225dd1e7e9898f51bbaf0fb7e866e4002b578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/oxygen-icons5-5.87.0.tar.xz">oxygen-icons5-5.87.0</a></td>
   <td align="right">227MB</td>
   <td><tt>518edb238868f86662e001480dfb454262db2d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/plasma-framework-5.87.0.tar.xz">plasma-framework-5.87.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ea51b6e2d2371d58aea9b32d4f3c131fd530c93f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/prison-5.87.0.tar.xz">prison-5.87.0</a></td>
   <td align="right">46kB</td>
   <td><tt>6f7c7bb5e464751b0492379db31e443cee01b21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/purpose-5.87.0.tar.xz">purpose-5.87.0</a></td>
   <td align="right">161kB</td>
   <td><tt>11c2ab464e0851f5aea7fee4b62558e4cfd9802c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/qqc2-desktop-style-5.87.0.tar.xz">qqc2-desktop-style-5.87.0</a></td>
   <td align="right">60kB</td>
   <td><tt>b4b10e36e8e64e560b42b9b2d010fb01409ec36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/solid-5.87.0.tar.xz">solid-5.87.0</a></td>
   <td align="right">245kB</td>
   <td><tt>4f1aaccb825625649435f0291dd165da5c9851e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/sonnet-5.87.0.tar.xz">sonnet-5.87.0</a></td>
   <td align="right">290kB</td>
   <td><tt>48d58f23f1f4624868874c62a0f770bd72657da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/syndication-5.87.0.tar.xz">syndication-5.87.0</a></td>
   <td align="right">496kB</td>
   <td><tt>945cff941b100577131f2011cd5597e50efc8f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/syntax-highlighting-5.87.0.tar.xz">syntax-highlighting-5.87.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6135db64d6994d7566b2e22e08468da15a4bdda2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.87/threadweaver-5.87.0.tar.xz">threadweaver-5.87.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>bf7863ee231708c1131f1245e2512dfa915cef29</tt></td>
</tr>

</table>
