<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/bluedevil-5.6.2.tar.xz">bluedevil-5.6.2</a></td>
   <td align="right">169kB</td>
   <td><tt>3c40af64ea3dfec261ae6865c8af8d05ea6f62ecb782d4c4f0912cacaea84117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/breeze-5.6.2.tar.xz">breeze-5.6.2</a></td>
   <td align="right">18MB</td>
   <td><tt>42873f66425874df7c816d607b4968736b9d7df291ee9d5c165910a9b9c570c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/breeze-grub-5.6.2.tar.xz">breeze-grub-5.6.2</a></td>
   <td align="right">150kB</td>
   <td><tt>322e9f1f2c180b724dbd2227430bf1aac190f0bfe28d4830edfce53fc5768c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/breeze-gtk-5.6.2.tar.xz">breeze-gtk-5.6.2</a></td>
   <td align="right">251kB</td>
   <td><tt>f7fc7b34072990eae5c11e01b1acec88968b472cd5ccd3320e07bd84a1921863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/breeze-plymouth-5.6.2.tar.xz">breeze-plymouth-5.6.2</a></td>
   <td align="right">48kB</td>
   <td><tt>fa51f1e55754bb36da2b045e208ac07b322c39f3dd8b665d19a0e088ac66faa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/discover-5.6.2.tar.xz">discover-5.6.2</a></td>
   <td align="right">846kB</td>
   <td><tt>f9014903f64b1774c6c66ecf96089bb204edba4e999c2d9a40ae3e378cf3b566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kactivitymanagerd-5.6.2.tar.xz">kactivitymanagerd-5.6.2</a></td>
   <td align="right">82kB</td>
   <td><tt>1c7896f51d00578a505592c3327c9166b27ab6c7d346478156ac4b28805ac4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kde-cli-tools-5.6.2.tar.xz">kde-cli-tools-5.6.2</a></td>
   <td align="right">493kB</td>
   <td><tt>fe859c5b04c509c810342f668aa31422816f0b9f7f2bc576caf76723bb8ebb08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kdecoration-5.6.2.tar.xz">kdecoration-5.6.2</a></td>
   <td align="right">34kB</td>
   <td><tt>1b7a4f248b8a34302eb14814c694b7cab6f9423088824c7de7a8ceeb89efea7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kde-gtk-config-5.6.2.tar.xz">kde-gtk-config-5.6.2</a></td>
   <td align="right">160kB</td>
   <td><tt>ebf2cac8e617973da8015da490fc468efb91f76f80ac4aa5f27cda027ae4ad33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kdeplasma-addons-5.6.2.tar.xz">kdeplasma-addons-5.6.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2c9d594b57d154a291bb001a06a926a73bb2ff3565d03c1f0802053b6fb4073f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kgamma5-5.6.2.tar.xz">kgamma5-5.6.2</a></td>
   <td align="right">70kB</td>
   <td><tt>49ea28132892ff874217f40259f6d78260d1aeaf81b2496eb22cdc04e6c8de5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/khelpcenter-5.6.2.tar.xz">khelpcenter-5.6.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3cb80cccbb74d7ec7a7462c1a186260bd64c1f2b23cb833c8852ffd9022ba872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/khotkeys-5.6.2.tar.xz">khotkeys-5.6.2</a></td>
   <td align="right">653kB</td>
   <td><tt>e713cffc52b7fdba51bf487ad1bfc5000547f606fe97b3e4f1f2da63a48bb188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kinfocenter-5.6.2.tar.xz">kinfocenter-5.6.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1295f646f15b46d8a39434f8220a936d54b23b9e5f4bfbdfe8cf5eeb24e63fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kmenuedit-5.6.2.tar.xz">kmenuedit-5.6.2</a></td>
   <td align="right">468kB</td>
   <td><tt>34a96da034286487076899f88c0798f4d05a4a1bd5ef916d6e73c134a46e1204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kscreen-5.6.2.tar.xz">kscreen-5.6.2</a></td>
   <td align="right">114kB</td>
   <td><tt>8dd3c792766a0408c44f61da8faa2069776daeee1e879490befab3191ca24f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kscreenlocker-5.6.2.tar.xz">kscreenlocker-5.6.2</a></td>
   <td align="right">101kB</td>
   <td><tt>3ae7c40c4394c32eafe560694b58aafa841f613451a9543d7fbf5d68e79e4bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/ksshaskpass-5.6.2.tar.xz">ksshaskpass-5.6.2</a></td>
   <td align="right">24kB</td>
   <td><tt>db8d513abec7e92fb1b75abe0dbbaa06b6d365e8da2be6d10a041bb8623da125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/ksysguard-5.6.2.tar.xz">ksysguard-5.6.2</a></td>
   <td align="right">601kB</td>
   <td><tt>25ab6349b2a74e627b0ce6b039a743fae13df9689b5747ab62c2ab3ba59928ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kwallet-pam-5.6.2.tar.xz">kwallet-pam-5.6.2</a></td>
   <td align="right">17kB</td>
   <td><tt>53bb18eea2e4f995d685cfcb42402c2fb7b46ff139ca6a87a0cc96475bfe2703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kwayland-5.6.2.tar.xz">kwayland-5.6.2</a></td>
   <td align="right">164kB</td>
   <td><tt>ee5cd14c034d34a4cad902e0aa34776d3421da8c90289239e0ac7d5748ef2690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kwayland-integration-5.6.2.tar.xz">kwayland-integration-5.6.2</a></td>
   <td align="right">16kB</td>
   <td><tt>6235676356a3f180c7bb95ba9f192471e165611403985b30a1ba2c0835bacca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kwin-5.6.2.tar.xz">kwin-5.6.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>af753f4b2a9ea1c4c30b5faf6e33fdf72193c1c1d5f530303f7790d14bfb32c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/kwrited-5.6.2.tar.xz">kwrited-5.6.2</a></td>
   <td align="right">19kB</td>
   <td><tt>63d61a5b367d7a97884f2b3c890645747450f18b6e738283e3701d279f61357c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/libkscreen-5.6.2.tar.xz">libkscreen-5.6.2</a></td>
   <td align="right">81kB</td>
   <td><tt>6f2c8e0455aab9b2a14218665ff3fb836514e49aaf476d8e9f3e45464f25612a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/libksysguard-5.6.2.tar.xz">libksysguard-5.6.2</a></td>
   <td align="right">683kB</td>
   <td><tt>168ee684422f2c6c3a35e814a2f415594e027d8005871a2ba3c17804fb0b2187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/milou-5.6.2.tar.xz">milou-5.6.2</a></td>
   <td align="right">55kB</td>
   <td><tt>721b23d10fd956c6d9cefd700fbd4bcfb4d46c33a81eaad4161b9ba4fe503b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/oxygen-5.6.2.tar.xz">oxygen-5.6.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7043702e015f156a4eb7ad829f74aa2394d10be8e9911c412dfb40b465b22828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-desktop-5.6.2.tar.xz">plasma-desktop-5.6.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5962ab7c83deb87efdb56df8b219bd359edcafb95b4c0692901f128ae1ef7800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-integration-5.6.2.tar.xz">plasma-integration-5.6.2</a></td>
   <td align="right">49kB</td>
   <td><tt>429ddc48da319652323bca842d8350248ce6dfd6eb4d4bad5c4b97289754f347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-mediacenter-5.6.2.tar.xz">plasma-mediacenter-5.6.2</a></td>
   <td align="right">170kB</td>
   <td><tt>a672db9e4ee0caa421b9023ff043b12a1a625d7908f6632cec1be6b4139b8e47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-nm-5.6.2.tar.xz">plasma-nm-5.6.2</a></td>
   <td align="right">627kB</td>
   <td><tt>3b35790ffa63bc7172eed5bc062123ad603073ae54e597a6ee5cb457ed3b3a11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-pa-5.6.2.tar.xz">plasma-pa-5.6.2</a></td>
   <td align="right">58kB</td>
   <td><tt>40e47f687acef4b48b86466747454c1ddb56cfc8a924f8fab2737b461e14629c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-sdk-5.6.2.tar.xz">plasma-sdk-5.6.2</a></td>
   <td align="right">686kB</td>
   <td><tt>a4147b954001267cf7a10e44947cabf900706cf83885699ad84678ee7cc04f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-workspace-5.6.2.tar.xz">plasma-workspace-5.6.2</a></td>
   <td align="right">6.7MB</td>
   <td><tt>92ff2d455e1378119fd6cdf3e6dc20c8bafa3025802fbb05f1d787645d165a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/plasma-workspace-wallpapers-5.6.2.tar.xz">plasma-workspace-wallpapers-5.6.2</a></td>
   <td align="right">43MB</td>
   <td><tt>af1c669d5561682e486990f817906d7d3f55af62a6deb28cabbf3ce627e002ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/polkit-kde-agent-1-5.6.2.tar.xz">polkit-kde-agent-1-5.6.2</a></td>
   <td align="right">49kB</td>
   <td><tt>e33771fde0a3c1b90740e9bc54878ec5b7efbbbf9f0deb6fbb5ac131175bb46c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/powerdevil-5.6.2.tar.xz">powerdevil-5.6.2</a></td>
   <td align="right">345kB</td>
   <td><tt>9d13f4eb9423c209935aa11524e399a64188d29a098f339624b25a1993b93a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/sddm-kcm-5.6.2.tar.xz">sddm-kcm-5.6.2</a></td>
   <td align="right">55kB</td>
   <td><tt>c6eb6b596cb4dafcc3806ec5432a1b4ad499566f05245fb4b2b7c1a7c243c31b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/systemsettings-5.6.2.tar.xz">systemsettings-5.6.2</a></td>
   <td align="right">177kB</td>
   <td><tt>b08608c59c089c9620e0c69f2b399e884a1ed345f81690915f0dea7085a1f69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.2/user-manager-5.6.2.tar.xz">user-manager-5.6.2</a></td>
   <td align="right">70kB</td>
   <td><tt>69e213294629baffd1d290c0937f05f75488709145bcf468aeac4acba2f353f4</tt></td>
</tr>

</table>
