<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/bluedevil-5.21.5.tar.xz">bluedevil-5.21.5</a></td>
   <td align="right">158kB</td>
   <td><tt>26b03747e997fc2e7d734ea583a2a81174f0d982a965e0254c8ba690721f6289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/breeze-5.21.5.tar.xz">breeze-5.21.5</a></td>
   <td align="right">25MB</td>
   <td><tt>9774c695da7d51c45116f85358e002663a1ccc5681b04c9afc7a57e8b075980c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/breeze-grub-5.21.5.tar.xz">breeze-grub-5.21.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e727c98cfce3fac49a3d97d6ff76150901b200105776c1c2f02dfbdfa7c00def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/breeze-gtk-5.21.5.tar.xz">breeze-gtk-5.21.5</a></td>
   <td align="right">46kB</td>
   <td><tt>0fab052f237447df0de55701ab8fb2edce968c865fbba2f2c934d9dc53f0c719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/breeze-plymouth-5.21.5.tar.xz">breeze-plymouth-5.21.5</a></td>
   <td align="right">106kB</td>
   <td><tt>f3ad283298c6818a660ab69487695f726ed6582adeb7f4c70195f867eb5e4b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/discover-5.21.5.tar.xz">discover-5.21.5</a></td>
   <td align="right">8.0MB</td>
   <td><tt>29b8d510a25d997b133aa4d5d3ed0e8f101c61436d5f540b9c5f5df7622f4f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/drkonqi-5.21.5.tar.xz">drkonqi-5.21.5</a></td>
   <td align="right">756kB</td>
   <td><tt>4095e57419a855a33bb665f6696b83eccfebe7e464a463d298c71062524cc6ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kactivitymanagerd-5.21.5.tar.xz">kactivitymanagerd-5.21.5</a></td>
   <td align="right">97kB</td>
   <td><tt>77b5394cae27d68c55eaa02e7b9be524b6d8fee9a088e505830347b8289ef0c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kde-cli-tools-5.21.5.tar.xz">kde-cli-tools-5.21.5</a></td>
   <td align="right">596kB</td>
   <td><tt>369fe177a33fcd45ab4d81b5b535e4f321c00d2e9c7d1f4b2bd42f4c02da1e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kdecoration-5.21.5.tar.xz">kdecoration-5.21.5</a></td>
   <td align="right">45kB</td>
   <td><tt>bc550b7bfde5b5762e76b33ac53f8268b6178ae389c953d729b864b22787d54c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kde-gtk-config-5.21.5.tar.xz">kde-gtk-config-5.21.5</a></td>
   <td align="right">67kB</td>
   <td><tt>f39178aa9cbfdcd9e6c1663058f3ff74d658e87b29f9b765f67a5bdc7c46ec1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kdeplasma-addons-5.21.5.tar.xz">kdeplasma-addons-5.21.5</a></td>
   <td align="right">615kB</td>
   <td><tt>3c6dd7266c9bb2b89b7ec6831936afb12e32cb00eca19baaa0706cf251617d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kgamma5-5.21.5.tar.xz">kgamma5-5.21.5</a></td>
   <td align="right">81kB</td>
   <td><tt>e64b41468ee5ac77b2b26b009a2e491c79ca6b7b031e2bafe19dda4eb46558e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/khotkeys-5.21.5.tar.xz">khotkeys-5.21.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2d58299f705f928f877718c1766a6dce201d728a24e88b9a24ca5e12a5f99c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kinfocenter-5.21.5.tar.xz">kinfocenter-5.21.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>715a871f6d761515d804049672d58f78cfc04fd8c5db645c489a940979a6f49c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kmenuedit-5.21.5.tar.xz">kmenuedit-5.21.5</a></td>
   <td align="right">878kB</td>
   <td><tt>e044970df84b889e51465270ee7108f898774309f52434ede12aca2701eaed7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kscreen-5.21.5.tar.xz">kscreen-5.21.5</a></td>
   <td align="right">112kB</td>
   <td><tt>46698bd55ad08e0b833767f2c679832a276826abc37fd9c037614589101a84da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kscreenlocker-5.21.5.tar.xz">kscreenlocker-5.21.5</a></td>
   <td align="right">114kB</td>
   <td><tt>1dad76b7c791e1077777bc9e1b309a6778c4e2124a1211105f2ca9dffa903637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/ksshaskpass-5.21.5.tar.xz">ksshaskpass-5.21.5</a></td>
   <td align="right">23kB</td>
   <td><tt>a2f963a9991cbe639a63664a820b4c55c1bd75be6a209a8b439911ec4911f119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/ksysguard-5.21.5.tar.xz">ksysguard-5.21.5</a></td>
   <td align="right">590kB</td>
   <td><tt>103b34b83fd2ea1af1cb01b67de70be2ad5362e22270d23cd437ac210bca1bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kwallet-pam-5.21.5.tar.xz">kwallet-pam-5.21.5</a></td>
   <td align="right">19kB</td>
   <td><tt>bf3f30e990bf5c79b0fd2e24d82d01f99c226c5f2c64f57ed4a0bab754046e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kwayland-integration-5.21.5.tar.xz">kwayland-integration-5.21.5</a></td>
   <td align="right">22kB</td>
   <td><tt>bd1c713ea584c56f1d3551b08f7d5cd9fd9f66dff85e89de2436d71a3c2404f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kwayland-server-5.21.5.tar.xz">kwayland-server-5.21.5</a></td>
   <td align="right">214kB</td>
   <td><tt>2fcfc16e8bda1f85db8148715ec08a1b36a0738c3796cf886faadc983f8e21c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kwin-5.21.5.tar.xz">kwin-5.21.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>a286edfaa13bf73565514ee3edb092cfbccac2307c48058a7302a4676c808331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/kwrited-5.21.5.tar.xz">kwrited-5.21.5</a></td>
   <td align="right">19kB</td>
   <td><tt>e1e79046b9657defa5074e46f7bcb09e9000f6e4bc3504eda9363fc60891294e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/libkscreen-5.21.5.tar.xz">libkscreen-5.21.5</a></td>
   <td align="right">82kB</td>
   <td><tt>13059ff71a395efbbb6231a4a796a174adb6a16433051e03db9bc83b7d1e7cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/libksysguard-5.21.5.tar.xz">libksysguard-5.21.5</a></td>
   <td align="right">689kB</td>
   <td><tt>5ff8c687a9d245d28ec4b92c019d2234cd931796c619ebb096de6e49cd18ebe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/milou-5.21.5.tar.xz">milou-5.21.5</a></td>
   <td align="right">42kB</td>
   <td><tt>31c0db3b48aa4c081b748b999deb428e3c15e99fbf6b2128a900864975683b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/oxygen-5.21.5.tar.xz">oxygen-5.21.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ac0ad3b62438d08b7103e49871b6751e22bb2308c42072b830f4f8ee00d83649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-browser-integration-5.21.5.tar.xz">plasma-browser-integration-5.21.5</a></td>
   <td align="right">200kB</td>
   <td><tt>4b85220204b89863386b30f5f758342f073e269d33af2c24721191664b1d649b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-desktop-5.21.5.tar.xz">plasma-desktop-5.21.5</a></td>
   <td align="right">15MB</td>
   <td><tt>de507e305c8021d9226381e2beded1cf45d1b224e9a5201529924cd60eb31a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-disks-5.21.5.tar.xz">plasma-disks-5.21.5</a></td>
   <td align="right">69kB</td>
   <td><tt>211d8273aea5146bc6ecb0511d0d4c3bea731c956b35a81dadc4b96a8daea0a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-firewall-5.21.5.tar.xz">plasma-firewall-5.21.5</a></td>
   <td align="right">324kB</td>
   <td><tt>5399189129759cac235a4c6513a6a4838a798d2fc5e128a704a2429e7f4454f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-integration-5.21.5.tar.xz">plasma-integration-5.21.5</a></td>
   <td align="right">59kB</td>
   <td><tt>1e745570c9a4526a52a1fd7fc46b4cd5973c2b6047c4577b277bc5910d830c75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-nano-5.21.5.tar.xz">plasma-nano-5.21.5</a></td>
   <td align="right">63kB</td>
   <td><tt>4674ccd3255fae758f7493b9831de047e0e0f99b369601042a441a1f88c23912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-nm-5.21.5.tar.xz">plasma-nm-5.21.5</a></td>
   <td align="right">880kB</td>
   <td><tt>9098e660a391e821161ed9ad2361b568297df2b53742a8afe18d6104ac700ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-pa-5.21.5.tar.xz">plasma-pa-5.21.5</a></td>
   <td align="right">111kB</td>
   <td><tt>f6ef1ea24bc8ef8717a09fc4396e8611c315da3175ffa69d873d485524ca9002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-phone-components-5.21.5.tar.xz">plasma-phone-components-5.21.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>811bd9986f0cbcb2f24ce6a99005868340184c33c655009330168dec8a45e769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-sdk-5.21.5.tar.xz">plasma-sdk-5.21.5</a></td>
   <td align="right">264kB</td>
   <td><tt>01aac092b7c98e3fe5b74fab21cb94781960a8957d5b4a7811503cefa3445e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-systemmonitor-5.21.5.tar.xz">plasma-systemmonitor-5.21.5</a></td>
   <td align="right">121kB</td>
   <td><tt>3c4d7facd472fd68eee6c7f7175539eeae42bf8a6d6c8e41925a0b0fd6988ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-tests-5.21.5.tar.xz">plasma-tests-5.21.5</a></td>
   <td align="right">1kB</td>
   <td><tt>132408d69713699cfbcac4e8f2dcf7318999f4ebaa9ff34483b202217006ea80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-thunderbolt-5.21.5.tar.xz">plasma-thunderbolt-5.21.5</a></td>
   <td align="right">55kB</td>
   <td><tt>a1b85d9e997a7e202972212a79fc026da65509246952b096dd474ba520492c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-vault-5.21.5.tar.xz">plasma-vault-5.21.5</a></td>
   <td align="right">156kB</td>
   <td><tt>7519b5da20e59f571128b66fc22e5d2b2027752e01caa1c70574b12dcfd8979b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-workspace-5.21.5.tar.xz">plasma-workspace-5.21.5</a></td>
   <td align="right">9.2MB</td>
   <td><tt>9cb16ef4bca9ade0ca82d0cc539533ba9f9be47811ae13d154effc085618e90a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plasma-workspace-wallpapers-5.21.5.tar.xz">plasma-workspace-wallpapers-5.21.5</a></td>
   <td align="right">45MB</td>
   <td><tt>759acd1b6de1e272c751d9366002038fef6617d6717d82262ec459584502404a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/plymouth-kcm-5.21.5.tar.xz">plymouth-kcm-5.21.5</a></td>
   <td align="right">42kB</td>
   <td><tt>607f8c569a15938ccde869f836725d5af53dcc15605e3bd0ff978c84fecb56c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/polkit-kde-agent-1-5.21.5.tar.xz">polkit-kde-agent-1-5.21.5</a></td>
   <td align="right">44kB</td>
   <td><tt>e68bad084d9144092c8aef68552434c9dba702caf953ea8fa7dcf7731ed689ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/powerdevil-5.21.5.tar.xz">powerdevil-5.21.5</a></td>
   <td align="right">602kB</td>
   <td><tt>fdb0305b576345f17d21e2f3a3604e55b0413456cc8b58017e354d5c42d0dda3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/qqc2-breeze-style-5.21.5.tar.xz">qqc2-breeze-style-5.21.5</a></td>
   <td align="right">59kB</td>
   <td><tt>3ecad4dc80a54a6dc13d8aa78eeedfd451603cde20bcd1046442a62a720fe907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/sddm-kcm-5.21.5.tar.xz">sddm-kcm-5.21.5</a></td>
   <td align="right">63kB</td>
   <td><tt>5280c8e75167233808d44ce0091f66020a3f8f12590fd9272d3b3fda12ce2d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/systemsettings-5.21.5.tar.xz">systemsettings-5.21.5</a></td>
   <td align="right">195kB</td>
   <td><tt>95784e6f0dc89778ebbd0bc4536f690cd8454001c7665eb853c0c6eace987acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.5/xdg-desktop-portal-kde-5.21.5.tar.xz">xdg-desktop-portal-kde-5.21.5</a></td>
   <td align="right">80kB</td>
   <td><tt>b0a7ea220d9b1913618a937b7364f7d88156998fd4d76df923520cb26ab38285</tt></td>
</tr>

</table>
