<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-20.12.1.tar.xz">akonadi-20.12.1</a></td>
   <td align="right">1555kB</td>
   <td><tt>01f2d645b23c2177265549729775481128fb559b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-calendar-20.12.1.tar.xz">akonadi-calendar-20.12.1</a></td>
   <td align="right">334kB</td>
   <td><tt>d1fd1a723e8371e91807a38db8dda89fdd27a6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-calendar-tools-20.12.1.tar.xz">akonadi-calendar-tools-20.12.1</a></td>
   <td align="right">219kB</td>
   <td><tt>2048ee27c3d0d815797828c2800a4d9a52dd1e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadiconsole-20.12.1.tar.xz">akonadiconsole-20.12.1</a></td>
   <td align="right">193kB</td>
   <td><tt>9cb577e790e489ec8db01f7e76191caa08721b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-contacts-20.12.1.tar.xz">akonadi-contacts-20.12.1</a></td>
   <td align="right">404kB</td>
   <td><tt>6ed7aa34d25d0c3d468076f8bae7f437b3c886f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-import-wizard-20.12.1.tar.xz">akonadi-import-wizard-20.12.1</a></td>
   <td align="right">494kB</td>
   <td><tt>f7a446ed8d069fc4e1793dc4b0f3d30bfd768bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-mime-20.12.1.tar.xz">akonadi-mime-20.12.1</a></td>
   <td align="right">131kB</td>
   <td><tt>3e904b598a28567cda7381f2fbc2866ea774732a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-notes-20.12.1.tar.xz">akonadi-notes-20.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>73b73694dd2bffe387a20804c4bb8df9d00ce22c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akonadi-search-20.12.1.tar.xz">akonadi-search-20.12.1</a></td>
   <td align="right">91kB</td>
   <td><tt>87ea9e0d12ea691831386f3a198f19045650b9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/akregator-20.12.1.tar.xz">akregator-20.12.1</a></td>
   <td align="right">2151kB</td>
   <td><tt>2f8416235547f05871a913fd656bed1ef792aee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/analitza-20.12.1.tar.xz">analitza-20.12.1</a></td>
   <td align="right">330kB</td>
   <td><tt>6e3da6fcf3a2c9f4cd9920f13c9c499a5c79cbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ark-20.12.1.tar.xz">ark-20.12.1</a></td>
   <td align="right">2652kB</td>
   <td><tt>c5f2fb00626e13e26e1c132a77ec059f8c9ae7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/artikulate-20.12.1.tar.xz">artikulate-20.12.1</a></td>
   <td align="right">1058kB</td>
   <td><tt>34d22be94c866f42c4bcb707a4c863e806683383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/audiocd-kio-20.12.1.tar.xz">audiocd-kio-20.12.1</a></td>
   <td align="right">488kB</td>
   <td><tt>ff8ecf5fc7d252e8c9465bb985457709df1ec4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/baloo-widgets-20.12.1.tar.xz">baloo-widgets-20.12.1</a></td>
   <td align="right">255kB</td>
   <td><tt>cffa27bbeeba7c3cc5e46a502258ef10bafcee22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/blinken-20.12.1.tar.xz">blinken-20.12.1</a></td>
   <td align="right">2478kB</td>
   <td><tt>6cd745ac081f4ce46f30d1718dd942dd29aca9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/bomber-20.12.1.tar.xz">bomber-20.12.1</a></td>
   <td align="right">805kB</td>
   <td><tt>f22a8f6d32a4d6d5caa4b8da9f738ce1b07b83f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/bovo-20.12.1.tar.xz">bovo-20.12.1</a></td>
   <td align="right">201kB</td>
   <td><tt>a82418ae83111b882c6fdc6d3a8901672feea7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/calendarsupport-20.12.1.tar.xz">calendarsupport-20.12.1</a></td>
   <td align="right">649kB</td>
   <td><tt>fb9447473094764b0b1c802b0bc28adb6b95b36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/cantor-20.12.1.tar.xz">cantor-20.12.1</a></td>
   <td align="right">8911kB</td>
   <td><tt>e76a43260c82da7367117bef77727cf3adde767b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/cervisia-20.12.1.tar.xz">cervisia-20.12.1</a></td>
   <td align="right">1843kB</td>
   <td><tt>e314f1a2f60bbb3453f3a049337b259c6c921ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/dolphin-20.12.1.tar.xz">dolphin-20.12.1</a></td>
   <td align="right">4995kB</td>
   <td><tt>44e5794ce94882e80f7d2200e2dbde3a24361df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/dolphin-plugins-20.12.1.tar.xz">dolphin-plugins-20.12.1</a></td>
   <td align="right">233kB</td>
   <td><tt>1e452b260501f82d509f1cd9a74b88cecffbe97f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/dragon-20.12.1.tar.xz">dragon-20.12.1</a></td>
   <td align="right">1617kB</td>
   <td><tt>95f4293bec3c6f5b3d90eed29e7886eb504e2f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/elisa-20.12.1.tar.xz">elisa-20.12.1</a></td>
   <td align="right">1621kB</td>
   <td><tt>90837ae65d09e6b1d2ab0144c3541f3a49237cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/eventviews-20.12.1.tar.xz">eventviews-20.12.1</a></td>
   <td align="right">433kB</td>
   <td><tt>6159ee40911527cb73d5b35bdbdbfce04c4921af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ffmpegthumbs-20.12.1.tar.xz">ffmpegthumbs-20.12.1</a></td>
   <td align="right">33kB</td>
   <td><tt>21d59cdf52c9247957b8b7073d3d9fa95f0bd43a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/filelight-20.12.1.tar.xz">filelight-20.12.1</a></td>
   <td align="right">655kB</td>
   <td><tt>031890c32b99ad24155c0597cde33bb491055626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/granatier-20.12.1.tar.xz">granatier-20.12.1</a></td>
   <td align="right">1906kB</td>
   <td><tt>7381468ea1a5f7cfe6decff0a55a643863575501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/grantlee-editor-20.12.1.tar.xz">grantlee-editor-20.12.1</a></td>
   <td align="right">104kB</td>
   <td><tt>6b20c68a6c9cfeb36c88f21954c93278f1482e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/grantleetheme-20.12.1.tar.xz">grantleetheme-20.12.1</a></td>
   <td align="right">55kB</td>
   <td><tt>341fee0acab84684513d7f691d2969aed6f07411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/gwenview-20.12.1.tar.xz">gwenview-20.12.1</a></td>
   <td align="right">6587kB</td>
   <td><tt>1fde0c4cbe40a66ab44f2e9535efb710c90a1386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/incidenceeditor-20.12.1.tar.xz">incidenceeditor-20.12.1</a></td>
   <td align="right">533kB</td>
   <td><tt>fd4d9c5d3a96c0565a68db6440ef3ba7acd257d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/itinerary-20.12.1.tar.xz">itinerary-20.12.1</a></td>
   <td align="right">324kB</td>
   <td><tt>582ab31741da6a0c4929aeb1acd4271df00e4e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/juk-20.12.1.tar.xz">juk-20.12.1</a></td>
   <td align="right">1951kB</td>
   <td><tt>6880cc579514e723f4761601b7f8e2e974057a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/k3b-20.12.1.tar.xz">k3b-20.12.1</a></td>
   <td align="right">10434kB</td>
   <td><tt>c736c286fd42a28fcefa29e1665a0a1fa5dc01ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kaccounts-integration-20.12.1.tar.xz">kaccounts-integration-20.12.1</a></td>
   <td align="right">82kB</td>
   <td><tt>0f1375d4fe513f75560b8e5ec7ccb7cb0ed9e33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kaccounts-providers-20.12.1.tar.xz">kaccounts-providers-20.12.1</a></td>
   <td align="right">60kB</td>
   <td><tt>2f55d8039a0f06cf60b7270a4a6dd2e720aaf59e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kaddressbook-20.12.1.tar.xz">kaddressbook-20.12.1</a></td>
   <td align="right">3180kB</td>
   <td><tt>babb8c7aef7631d09c4c646de61fda798771ca2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kajongg-20.12.1.tar.xz">kajongg-20.12.1</a></td>
   <td align="right">4367kB</td>
   <td><tt>fa8c891568a9bd2d258ce83aa4d97194931ff146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kalarm-20.12.1.tar.xz">kalarm-20.12.1</a></td>
   <td align="right">2028kB</td>
   <td><tt>28b1e20ad34d502cc6ac0719822382f2f132976d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kalarmcal-20.12.1.tar.xz">kalarmcal-20.12.1</a></td>
   <td align="right">562kB</td>
   <td><tt>72d12ce264972b9635758a45e45dd36f112cafa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kalgebra-20.12.1.tar.xz">kalgebra-20.12.1</a></td>
   <td align="right">996kB</td>
   <td><tt>0fa14a8b8a04f63ef923ec4f1228fa23b9b15df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kalzium-20.12.1.tar.xz">kalzium-20.12.1</a></td>
   <td align="right">23947kB</td>
   <td><tt>26e64985e709c143fc266f9839e3d0203734de2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kamera-20.12.1.tar.xz">kamera-20.12.1</a></td>
   <td align="right">106kB</td>
   <td><tt>5e339ef2482b85f28da25daa21333a234afd0674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kamoso-20.12.1.tar.xz">kamoso-20.12.1</a></td>
   <td align="right">206kB</td>
   <td><tt>9db6abd1e308e59a312e2440f2ec680ab605386c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kanagram-20.12.1.tar.xz">kanagram-20.12.1</a></td>
   <td align="right">7842kB</td>
   <td><tt>1e352e8fe95d4b7f33af910d37bbbd5fcdc9e3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kapman-20.12.1.tar.xz">kapman-20.12.1</a></td>
   <td align="right">2472kB</td>
   <td><tt>84a0c7c7bd11184d45476b44a76a780e8a3e4998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kapptemplate-20.12.1.tar.xz">kapptemplate-20.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>e72441b72c6fca3ab02874ddf6055312c5e869a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kate-20.12.1.tar.xz">kate-20.12.1</a></td>
   <td align="right">5723kB</td>
   <td><tt>6af0175c8bad4f0aaa6c930e928b2cd4e9ad6574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/katomic-20.12.1.tar.xz">katomic-20.12.1</a></td>
   <td align="right">1395kB</td>
   <td><tt>97c6f54276a24881228ee568d4a7a31cd1a16414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kbackup-20.12.1.tar.xz">kbackup-20.12.1</a></td>
   <td align="right">371kB</td>
   <td><tt>cbad9372b64decf3d75bcf1ecdd61b66440850df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kblackbox-20.12.1.tar.xz">kblackbox-20.12.1</a></td>
   <td align="right">439kB</td>
   <td><tt>9c03f2cce9508026dc45d3a53f8ccc2c0ab05b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kblocks-20.12.1.tar.xz">kblocks-20.12.1</a></td>
   <td align="right">1863kB</td>
   <td><tt>350c46d60b979c229bb3a9acd0505b9b15ed7c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kbounce-20.12.1.tar.xz">kbounce-20.12.1</a></td>
   <td align="right">3362kB</td>
   <td><tt>277c6a507a5b521988db7d41919a5832007b238b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kbreakout-20.12.1.tar.xz">kbreakout-20.12.1</a></td>
   <td align="right">2230kB</td>
   <td><tt>23a3259582f8d5137e7457723f52670d9dac0b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kbruch-20.12.1.tar.xz">kbruch-20.12.1</a></td>
   <td align="right">5483kB</td>
   <td><tt>0d492719292fd8d8975d7a72988f4d256c76384f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcachegrind-20.12.1.tar.xz">kcachegrind-20.12.1</a></td>
   <td align="right">796kB</td>
   <td><tt>913c89378ffbf98e6769843d62ba1ffdbede5a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcalc-20.12.1.tar.xz">kcalc-20.12.1</a></td>
   <td align="right">371kB</td>
   <td><tt>e4015cd2c5f189755d559aeb07710dafe7064f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcalutils-20.12.1.tar.xz">kcalutils-20.12.1</a></td>
   <td align="right">316kB</td>
   <td><tt>c87b9294e9bb07d58817593cbf4994b8ac45e71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcharselect-20.12.1.tar.xz">kcharselect-20.12.1</a></td>
   <td align="right">358kB</td>
   <td><tt>ea50493661e9c143022c202c58b09e1ccf3685dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcolorchooser-20.12.1.tar.xz">kcolorchooser-20.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>48580d3f094dc680f2b9aaa0d8b56e282cb448c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kcron-20.12.1.tar.xz">kcron-20.12.1</a></td>
   <td align="right">877kB</td>
   <td><tt>cf0d86a7c1dc91b4bff49ddccc186298269ec2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdebugsettings-20.12.1.tar.xz">kdebugsettings-20.12.1</a></td>
   <td align="right">66kB</td>
   <td><tt>a516d7dd086dff96405cdc724127759fa1772c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdeconnect-kde-20.12.1.tar.xz">kdeconnect-kde-20.12.1</a></td>
   <td align="right">536kB</td>
   <td><tt>035e7c20f98705198d7ddd2740b1fc074cbc19dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kde-dev-scripts-20.12.1.tar.xz">kde-dev-scripts-20.12.1</a></td>
   <td align="right">357kB</td>
   <td><tt>3516d908488dd90fdbd0829a90d2fbaf8b94a6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kde-dev-utils-20.12.1.tar.xz">kde-dev-utils-20.12.1</a></td>
   <td align="right">64kB</td>
   <td><tt>0dcadc3960cce2cb21bf619f0d52d08edd39530d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdeedu-data-20.12.1.tar.xz">kdeedu-data-20.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>ddaa000ab0fbd4074068a507a584dd6febe1a7c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdegraphics-mobipocket-20.12.1.tar.xz">kdegraphics-mobipocket-20.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>afb44d94cd4f3fc6baea2e42ac3efa178b373ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdegraphics-thumbnailers-20.12.1.tar.xz">kdegraphics-thumbnailers-20.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>6ef79ff73bfc7bfad8d91e95dfb77899e71b5311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdenetwork-filesharing-20.12.1.tar.xz">kdenetwork-filesharing-20.12.1</a></td>
   <td align="right">338kB</td>
   <td><tt>b6e58751fc5b8c0864e55a7de84069e884f9235f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdenlive-20.12.1.tar.xz">kdenlive-20.12.1</a></td>
   <td align="right">11222kB</td>
   <td><tt>c81165e387216e5b73740a09424f68f700a77c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdepim-addons-20.12.1.tar.xz">kdepim-addons-20.12.1</a></td>
   <td align="right">2094kB</td>
   <td><tt>1955d15c4962e36412c6abfb63120adfb6cee6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdepim-runtime-20.12.1.tar.xz">kdepim-runtime-20.12.1</a></td>
   <td align="right">1759kB</td>
   <td><tt>2ed6dcc6c2acb9b12787771c5e7e5dfbfef5d60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdesdk-kioslaves-20.12.1.tar.xz">kdesdk-kioslaves-20.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>7318ca6a0c976b891d0612979daad560d22c1c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdesdk-thumbnailers-20.12.1.tar.xz">kdesdk-thumbnailers-20.12.1</a></td>
   <td align="right">17kB</td>
   <td><tt>927524306416e20d2404c6480ce7432e94d0a97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdf-20.12.1.tar.xz">kdf-20.12.1</a></td>
   <td align="right">456kB</td>
   <td><tt>44d2038b0316f2fff240ec1806430c8bbaaeebe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdialog-20.12.1.tar.xz">kdialog-20.12.1</a></td>
   <td align="right">105kB</td>
   <td><tt>83abae498ccd3c6ba67bc34588c5107da9cbf5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kdiamond-20.12.1.tar.xz">kdiamond-20.12.1</a></td>
   <td align="right">4588kB</td>
   <td><tt>933f656c957727c8b67512e463320564a7ba5c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/keditbookmarks-20.12.1.tar.xz">keditbookmarks-20.12.1</a></td>
   <td align="right">186kB</td>
   <td><tt>12e32ecef84a6b3df7bc6326915666cc2f65e27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kfind-20.12.1.tar.xz">kfind-20.12.1</a></td>
   <td align="right">272kB</td>
   <td><tt>29487ab488289a7a1c454f31dab7804c7ac1a030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kfloppy-20.12.1.tar.xz">kfloppy-20.12.1</a></td>
   <td align="right">199kB</td>
   <td><tt>0ab8c7c454763e0419703226ca347dd6f1fade6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kfourinline-20.12.1.tar.xz">kfourinline-20.12.1</a></td>
   <td align="right">628kB</td>
   <td><tt>189f0e88c721ebfae166568466300abbacac5437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kgeography-20.12.1.tar.xz">kgeography-20.12.1</a></td>
   <td align="right">10511kB</td>
   <td><tt>bb03a86f1935cfc01d95a14785cde2c501fdccdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kget-20.12.1.tar.xz">kget-20.12.1</a></td>
   <td align="right">5452kB</td>
   <td><tt>a000a546255e3419fd18c8fca5dc1239e79b19d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kgoldrunner-20.12.1.tar.xz">kgoldrunner-20.12.1</a></td>
   <td align="right">4340kB</td>
   <td><tt>5b95c9b6dd703543123eb4922a4b6e683f328e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kgpg-20.12.1.tar.xz">kgpg-20.12.1</a></td>
   <td align="right">2816kB</td>
   <td><tt>074388896cdb73031b03c616abfe2df73d233bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/khangman-20.12.1.tar.xz">khangman-20.12.1</a></td>
   <td align="right">7231kB</td>
   <td><tt>2fe27a2b73957753eeb5764bc2e481d706f889f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/khelpcenter-20.12.1.tar.xz">khelpcenter-20.12.1</a></td>
   <td align="right">4150kB</td>
   <td><tt>0e8c0b3c9336b39dec29ce224ec4a25e230e28e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kidentitymanagement-20.12.1.tar.xz">kidentitymanagement-20.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>c19d1434945dbb1e43600097f1385bb5e6c40619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kig-20.12.1.tar.xz">kig-20.12.1</a></td>
   <td align="right">3049kB</td>
   <td><tt>c1e4f6beb940cfe4c8595b54b39055bfa6ebbe4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kigo-20.12.1.tar.xz">kigo-20.12.1</a></td>
   <td align="right">5111kB</td>
   <td><tt>e019612fd9dd7ea806a4f11f2103646b13f6e7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/killbots-20.12.1.tar.xz">killbots-20.12.1</a></td>
   <td align="right">1158kB</td>
   <td><tt>5be8093165c691e10ef14ec2deceedad7880d914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kimagemapeditor-20.12.1.tar.xz">kimagemapeditor-20.12.1</a></td>
   <td align="right">1052kB</td>
   <td><tt>05127e36e4abdac4cba28a272617728d458630ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kimap-20.12.1.tar.xz">kimap-20.12.1</a></td>
   <td align="right">121kB</td>
   <td><tt>ac738a2ab62ccf109d8c81a02a806af05796e9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kio-extras-20.12.1.tar.xz">kio-extras-20.12.1</a></td>
   <td align="right">618kB</td>
   <td><tt>dc919da236a69b522da07b73fe2e02d3c922df30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kio-gdrive-20.12.1.tar.xz">kio-gdrive-20.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>ea08f145b2cde2ee7a166d7bba8b85646f3f95d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kipi-plugins-20.12.1.tar.xz">kipi-plugins-20.12.1</a></td>
   <td align="right">1606kB</td>
   <td><tt>7ad0f6fda610a4182603d32c132606980001e5af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kirigami-gallery-20.12.1.tar.xz">kirigami-gallery-20.12.1</a></td>
   <td align="right">320kB</td>
   <td><tt>c88e677b227a537427a661196a0a6e50b6f1e243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kiriki-20.12.1.tar.xz">kiriki-20.12.1</a></td>
   <td align="right">369kB</td>
   <td><tt>443924f1c166748269b26680284b116c6c935c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kiten-20.12.1.tar.xz">kiten-20.12.1</a></td>
   <td align="right">11032kB</td>
   <td><tt>50289ac3825ee465f99542d3303d3a3d47c1464f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kitinerary-20.12.1.tar.xz">kitinerary-20.12.1</a></td>
   <td align="right">1766kB</td>
   <td><tt>ff11443b78a94e8b858066fc10963e5fa411fcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kjumpingcube-20.12.1.tar.xz">kjumpingcube-20.12.1</a></td>
   <td align="right">284kB</td>
   <td><tt>ad049e7fd4f62ff7adbb726486b2a49f0a160404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kldap-20.12.1.tar.xz">kldap-20.12.1</a></td>
   <td align="right">160kB</td>
   <td><tt>256cf9570febdf8848fcacccba2a764aedb0e66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kleopatra-20.12.1.tar.xz">kleopatra-20.12.1</a></td>
   <td align="right">1953kB</td>
   <td><tt>649690e4e0e0da6f858dcbae33a76be60fa208da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/klettres-20.12.1.tar.xz">klettres-20.12.1</a></td>
   <td align="right">45954kB</td>
   <td><tt>cee9acd2813fa2aa37d38ff7581fe8c3b754be79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/klickety-20.12.1.tar.xz">klickety-20.12.1</a></td>
   <td align="right">1362kB</td>
   <td><tt>c1b5a246bdd700721a4f46927800fc37e6cad2bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/klines-20.12.1.tar.xz">klines-20.12.1</a></td>
   <td align="right">1748kB</td>
   <td><tt>726bd29c2dddba86b4c8a395fcabb9d5700c1769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmag-20.12.1.tar.xz">kmag-20.12.1</a></td>
   <td align="right">681kB</td>
   <td><tt>58299fa2245a72f6b6052bcc9fe46f19c25ea5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmahjongg-20.12.1.tar.xz">kmahjongg-20.12.1</a></td>
   <td align="right">3354kB</td>
   <td><tt>d0fc2a77f12fb09f607b4da855d43f2767bf131e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmail-20.12.1.tar.xz">kmail-20.12.1</a></td>
   <td align="right">4561kB</td>
   <td><tt>f7502682425dc88d464aa4a44b167ffe2e44c658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmail-account-wizard-20.12.1.tar.xz">kmail-account-wizard-20.12.1</a></td>
   <td align="right">155kB</td>
   <td><tt>f6f8d603940f4ecc7fa2456d58159d241a0bc71f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmailtransport-20.12.1.tar.xz">kmailtransport-20.12.1</a></td>
   <td align="right">164kB</td>
   <td><tt>bd5d1f333aff53e32026e14d596c5230ccf34a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmbox-20.12.1.tar.xz">kmbox-20.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>85dbc805dbff84a6b952d25d5dc243d8da1e5ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmime-20.12.1.tar.xz">kmime-20.12.1</a></td>
   <td align="right">147kB</td>
   <td><tt>69a60948b27ea7b94ded498a3e0f730c08a92de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmines-20.12.1.tar.xz">kmines-20.12.1</a></td>
   <td align="right">936kB</td>
   <td><tt>3398fd39ff8c96f4a54c4cf0c2a5381648ebead5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmix-20.12.1.tar.xz">kmix-20.12.1</a></td>
   <td align="right">1123kB</td>
   <td><tt>be5c3145f93c53743973433e60a67bf93b18ca7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmousetool-20.12.1.tar.xz">kmousetool-20.12.1</a></td>
   <td align="right">113kB</td>
   <td><tt>02146886446ed2c9f04870134d092f4c1e94751c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmouth-20.12.1.tar.xz">kmouth-20.12.1</a></td>
   <td align="right">2034kB</td>
   <td><tt>ce7f6f083916c7de796e689c5467cb8805cfea3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kmplot-20.12.1.tar.xz">kmplot-20.12.1</a></td>
   <td align="right">2984kB</td>
   <td><tt>65881f69906ae5ed3a340eb229094c8ea4adacab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/knavalbattle-20.12.1.tar.xz">knavalbattle-20.12.1</a></td>
   <td align="right">1260kB</td>
   <td><tt>6c0aa409a67b43d5651f4e2e50d26f8070ade883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/knetwalk-20.12.1.tar.xz">knetwalk-20.12.1</a></td>
   <td align="right">1237kB</td>
   <td><tt>e08551de878621aa2a06f808241e54553ece855d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/knights-20.12.1.tar.xz">knights-20.12.1</a></td>
   <td align="right">3452kB</td>
   <td><tt>045ef1590b1aa8e540d5863048b7618d81280a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/knotes-20.12.1.tar.xz">knotes-20.12.1</a></td>
   <td align="right">320kB</td>
   <td><tt>bde502843d14b09c743e9027ab39009f3a2a4e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kolf-20.12.1.tar.xz">kolf-20.12.1</a></td>
   <td align="right">1004kB</td>
   <td><tt>b29656371f2a31e06fa194408aaba3f9ce92a33f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kollision-20.12.1.tar.xz">kollision-20.12.1</a></td>
   <td align="right">283kB</td>
   <td><tt>62278755c9fa37c348a75c469bc9278af90131ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kolourpaint-20.12.1.tar.xz">kolourpaint-20.12.1</a></td>
   <td align="right">5553kB</td>
   <td><tt>1a4bf5b4654632cff1012f3b4b0756da9a5ec333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kompare-20.12.1.tar.xz">kompare-20.12.1</a></td>
   <td align="right">900kB</td>
   <td><tt>481cfecff02e21ffdf821a5dc071ea605af6fe46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/konqueror-20.12.1.tar.xz">konqueror-20.12.1</a></td>
   <td align="right">7069kB</td>
   <td><tt>9dd0f50ee7af401a11d7b6a5e5ce1dbb913fe98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/konquest-20.12.1.tar.xz">konquest-20.12.1</a></td>
   <td align="right">650kB</td>
   <td><tt>c06a1e2da5113fc21b02187be2fcb4fbd4cbce1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/konsole-20.12.1.tar.xz">konsole-20.12.1</a></td>
   <td align="right">1209kB</td>
   <td><tt>d964b712ec058d715bd3214230a6d194ec4bdd05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kontact-20.12.1.tar.xz">kontact-20.12.1</a></td>
   <td align="right">773kB</td>
   <td><tt>4bd3f81ae741c2ad23b910ffe6bd8d492790904a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kontactinterface-20.12.1.tar.xz">kontactinterface-20.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>492354b14fccdebbaec56ddab9524933f029f2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kontrast-20.12.1.tar.xz">kontrast-20.12.1</a></td>
   <td align="right">119kB</td>
   <td><tt>812014b7cdc5eebb3776c7d134942c70fe213ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/konversation-20.12.1.tar.xz">konversation-20.12.1</a></td>
   <td align="right">4121kB</td>
   <td><tt>9efc470ea2c6354bfd5b58f6880b9fb7eb7ccb45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kopete-20.12.1.tar.xz">kopete-20.12.1</a></td>
   <td align="right">9160kB</td>
   <td><tt>c93f7baffeb1f837f7923abbb043d83a5e5810db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/korganizer-20.12.1.tar.xz">korganizer-20.12.1</a></td>
   <td align="right">2193kB</td>
   <td><tt>ce6747656678897aab61bedc85950a4f218cdd0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kosmindoormap-20.12.1.tar.xz">kosmindoormap-20.12.1</a></td>
   <td align="right">305kB</td>
   <td><tt>8e095305445200be09999e987d4a563a6027752c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kpat-20.12.1.tar.xz">kpat-20.12.1</a></td>
   <td align="right">3500kB</td>
   <td><tt>0d1c3ca81c0522560aa33c73e357b5221668f620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kpimtextedit-20.12.1.tar.xz">kpimtextedit-20.12.1</a></td>
   <td align="right">196kB</td>
   <td><tt>db2a35c5610e961c483e02a522c2c85db5918d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kpkpass-20.12.1.tar.xz">kpkpass-20.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>7794102e1f505043391eacab286f91fb372862ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kpmcore-20.12.1.tar.xz">kpmcore-20.12.1</a></td>
   <td align="right">570kB</td>
   <td><tt>a211394e4e2fd74349c39ec2a3671b98a34dea32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kpublictransport-20.12.1.tar.xz">kpublictransport-20.12.1</a></td>
   <td align="right">337kB</td>
   <td><tt>c7336ad12878c52eb49df1f1f11212af5301c279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kqtquickcharts-20.12.1.tar.xz">kqtquickcharts-20.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>1ba7c33035f574d25ff1d6497a016effab586a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/krdc-20.12.1.tar.xz">krdc-20.12.1</a></td>
   <td align="right">1527kB</td>
   <td><tt>305045b3db1b58b6ecb95a8d35b490f7f34998f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kreversi-20.12.1.tar.xz">kreversi-20.12.1</a></td>
   <td align="right">931kB</td>
   <td><tt>9f737e63a3a4033adf5298d220019dfae22e2a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/krfb-20.12.1.tar.xz">krfb-20.12.1</a></td>
   <td align="right">1250kB</td>
   <td><tt>98a7e73fa4cbf48869a4eecd27fbd693bf320422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kross-interpreters-20.12.1.tar.xz">kross-interpreters-20.12.1</a></td>
   <td align="right">147kB</td>
   <td><tt>32a361b8bd97c17715b8001bfbbe967184029b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kruler-20.12.1.tar.xz">kruler-20.12.1</a></td>
   <td align="right">265kB</td>
   <td><tt>37b938731156b3b3952722c72927b0516d22d37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kshisen-20.12.1.tar.xz">kshisen-20.12.1</a></td>
   <td align="right">807kB</td>
   <td><tt>d52c090d0282a5f7ef6b5605c87a112d970073f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksirk-20.12.1.tar.xz">ksirk-20.12.1</a></td>
   <td align="right">6829kB</td>
   <td><tt>06ff80ee9b8771554d7a74361dd76e8978a008d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksmtp-20.12.1.tar.xz">ksmtp-20.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>dc54e162d1fb15dc29db0354fe5f71cc7a1dd367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksnakeduel-20.12.1.tar.xz">ksnakeduel-20.12.1</a></td>
   <td align="right">531kB</td>
   <td><tt>fd25d71ae5aa06c337d4e5e18fb30971e005eaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kspaceduel-20.12.1.tar.xz">kspaceduel-20.12.1</a></td>
   <td align="right">603kB</td>
   <td><tt>cf8323e3a20a2dbff7bb17ebfe0954ad1b5a1e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksquares-20.12.1.tar.xz">ksquares-20.12.1</a></td>
   <td align="right">260kB</td>
   <td><tt>395dafabd5955eba4ef81d03e20136b09a3b35fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksudoku-20.12.1.tar.xz">ksudoku-20.12.1</a></td>
   <td align="right">1636kB</td>
   <td><tt>519fd15ccfc85f20c622f0f15b60990e81b69aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ksystemlog-20.12.1.tar.xz">ksystemlog-20.12.1</a></td>
   <td align="right">1890kB</td>
   <td><tt>61685f417b6db8278408cce6662563d8f9c6f12c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kteatime-20.12.1.tar.xz">kteatime-20.12.1</a></td>
   <td align="right">287kB</td>
   <td><tt>e9193a4dfe5f647a95544ea03c15fce7bf6f23d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktimer-20.12.1.tar.xz">ktimer-20.12.1</a></td>
   <td align="right">376kB</td>
   <td><tt>21df3e6ce6c3d4205e1df982ca0d75782ef47545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktnef-20.12.1.tar.xz">ktnef-20.12.1</a></td>
   <td align="right">292kB</td>
   <td><tt>4b5dc3a530febd2fd611b864ccd5bb9e38351ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktorrent-20.12.1.tar.xz">ktorrent-20.12.1</a></td>
   <td align="right">2091kB</td>
   <td><tt>b08082a6b98b9fe62b70654dd920d92fb46c5767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktouch-20.12.1.tar.xz">ktouch-20.12.1</a></td>
   <td align="right">4824kB</td>
   <td><tt>e9ccf102c4a9da459d105ee5605655c0dae5ddf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-accounts-kcm-20.12.1.tar.xz">ktp-accounts-kcm-20.12.1</a></td>
   <td align="right">256kB</td>
   <td><tt>a9df1f11d5a9fbda36cbccbe6e30526f3b23328b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-approver-20.12.1.tar.xz">ktp-approver-20.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>e8b9410d15ede2eaf317ce1774ef0fa7d2db3a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-auth-handler-20.12.1.tar.xz">ktp-auth-handler-20.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>8a6e64f73e78c31ad63314900450a0550af30370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-call-ui-20.12.1.tar.xz">ktp-call-ui-20.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>15d512b85c45a09f6445f3526c5781a302c42117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-common-internals-20.12.1.tar.xz">ktp-common-internals-20.12.1</a></td>
   <td align="right">438kB</td>
   <td><tt>c324cddda99c986ea18ad3289d89e51d218148c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-contact-list-20.12.1.tar.xz">ktp-contact-list-20.12.1</a></td>
   <td align="right">146kB</td>
   <td><tt>48a7a13bcbdd00652beb087bddf481335c026fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-contact-runner-20.12.1.tar.xz">ktp-contact-runner-20.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>607d491a463ec9616958c329ecaa25b917317960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-desktop-applets-20.12.1.tar.xz">ktp-desktop-applets-20.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>882c0f753d2e32bcd4949939e6b4089dc0e3ef9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-filetransfer-handler-20.12.1.tar.xz">ktp-filetransfer-handler-20.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>ce88fa5e217e5c4fb35f3c5bb834e494196012d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-kded-module-20.12.1.tar.xz">ktp-kded-module-20.12.1</a></td>
   <td align="right">95kB</td>
   <td><tt>16ef297d99e6e1299ac2b1b9289a69ddbfa403ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-send-file-20.12.1.tar.xz">ktp-send-file-20.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>d81cf389740b657ce15a1285bc94a78b4fa47098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktp-text-ui-20.12.1.tar.xz">ktp-text-ui-20.12.1</a></td>
   <td align="right">460kB</td>
   <td><tt>5bfedd5c068d9eaf318c494452469b850fb6d376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/ktuberling-20.12.1.tar.xz">ktuberling-20.12.1</a></td>
   <td align="right">69054kB</td>
   <td><tt>06f6528efb08f71c6801a0373729d52c1343878d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kturtle-20.12.1.tar.xz">kturtle-20.12.1</a></td>
   <td align="right">1794kB</td>
   <td><tt>b944d98b5bddf5b548086cd75b788e6a2e03712d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kubrick-20.12.1.tar.xz">kubrick-20.12.1</a></td>
   <td align="right">331kB</td>
   <td><tt>1ba28ba4059c60f8d3735cf8a50cd2776c89026c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kwalletmanager-20.12.1.tar.xz">kwalletmanager-20.12.1</a></td>
   <td align="right">755kB</td>
   <td><tt>d90cea409f18c9acffd6bb05b5ce19a34860b5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kwave-20.12.1.tar.xz">kwave-20.12.1</a></td>
   <td align="right">6720kB</td>
   <td><tt>694c5a526c3ac74892e4d1d8216d756711146ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/kwordquiz-20.12.1.tar.xz">kwordquiz-20.12.1</a></td>
   <td align="right">4089kB</td>
   <td><tt>5b29f3e97e592b8e4814123d6e2a17a9b9ee90cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libgravatar-20.12.1.tar.xz">libgravatar-20.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>2ac2710d1f913cdde1d66aca143c60c557568a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkcddb-20.12.1.tar.xz">libkcddb-20.12.1</a></td>
   <td align="right">415kB</td>
   <td><tt>1025e640da3406267080c1f9f9686c27083828ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkcompactdisc-20.12.1.tar.xz">libkcompactdisc-20.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>b588d55ed7655f206abf6efdd5f4eac3175c0b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkdcraw-20.12.1.tar.xz">libkdcraw-20.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>95ebd96feee3ee37ac8955788e4d38846f7b0d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkdegames-20.12.1.tar.xz">libkdegames-20.12.1</a></td>
   <td align="right">6241kB</td>
   <td><tt>9ea61a172408fee9b4b4898ce95ac30cbe75659f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkdepim-20.12.1.tar.xz">libkdepim-20.12.1</a></td>
   <td align="right">232kB</td>
   <td><tt>ef12f29b9615f46a6b4b22dcab383aadca4e4ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkeduvocdocument-20.12.1.tar.xz">libkeduvocdocument-20.12.1</a></td>
   <td align="right">206kB</td>
   <td><tt>cedc327fe70a19cc45c970fbc415bf2df8fd2bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkexiv2-20.12.1.tar.xz">libkexiv2-20.12.1</a></td>
   <td align="right">63kB</td>
   <td><tt>7b0f401399adaf081feb0f21307cf708970a5c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkgapi-20.12.1.tar.xz">libkgapi-20.12.1</a></td>
   <td align="right">240kB</td>
   <td><tt>e6dedf50fa4cb99a30642d6e72bbfa27716b73a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkipi-20.12.1.tar.xz">libkipi-20.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>838a3fd558cf09b8d05d9ddd0e64466370414446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkleo-20.12.1.tar.xz">libkleo-20.12.1</a></td>
   <td align="right">350kB</td>
   <td><tt>36b4b809ffa4cf3fcac096fc400cf8ff074115a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkmahjongg-20.12.1.tar.xz">libkmahjongg-20.12.1</a></td>
   <td align="right">1651kB</td>
   <td><tt>9fbda141a276d3b958efad1fd93c198af5c4964b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libkomparediff2-20.12.1.tar.xz">libkomparediff2-20.12.1</a></td>
   <td align="right">155kB</td>
   <td><tt>1793bdf66f1dcd366315225edb626fb90f081b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libksane-20.12.1.tar.xz">libksane-20.12.1</a></td>
   <td align="right">141kB</td>
   <td><tt>af0e62e6e122424e139091d62f1a6b05bf51867d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libksieve-20.12.1.tar.xz">libksieve-20.12.1</a></td>
   <td align="right">545kB</td>
   <td><tt>25fa6d9f6d210c6553552f873d99cff23609c5f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/libktorrent-20.12.1.tar.xz">libktorrent-20.12.1</a></td>
   <td align="right">590kB</td>
   <td><tt>204f81129541abd734f4d1b90977401abc8d7046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/lokalize-20.12.1.tar.xz">lokalize-20.12.1</a></td>
   <td align="right">1947kB</td>
   <td><tt>5cde86bdaabdea3c3776206ea451f2f10a8bfd6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/lskat-20.12.1.tar.xz">lskat-20.12.1</a></td>
   <td align="right">1196kB</td>
   <td><tt>edcee6c10042a8c763a5204009a54d831245fd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/mailcommon-20.12.1.tar.xz">mailcommon-20.12.1</a></td>
   <td align="right">706kB</td>
   <td><tt>3bbe4ea7835823f9038db71eccdf51c29d53909d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/mailimporter-20.12.1.tar.xz">mailimporter-20.12.1</a></td>
   <td align="right">535kB</td>
   <td><tt>76ffabf63cc781899c42479ed855c6a31fd77135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/marble-20.12.1.tar.xz">marble-20.12.1</a></td>
   <td align="right">50995kB</td>
   <td><tt>19842f897b0c3769e823a3f948c9874ead7dcb8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/markdownpart-20.12.1.tar.xz">markdownpart-20.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7ae5e4c6902102afc0c8483f9eda978936a65161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/mbox-importer-20.12.1.tar.xz">mbox-importer-20.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>478ff881e36db9257be78eb6d4eeb8fb5d09f9b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/messagelib-20.12.1.tar.xz">messagelib-20.12.1</a></td>
   <td align="right">10289kB</td>
   <td><tt>4071f11076e2976b83e56c3ef72869a7c9425e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/minuet-20.12.1.tar.xz">minuet-20.12.1</a></td>
   <td align="right">27072kB</td>
   <td><tt>01184404433a44de79c5a5e5091cadf4b50402af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/okular-20.12.1.tar.xz">okular-20.12.1</a></td>
   <td align="right">7700kB</td>
   <td><tt>e74bbbd4b089c377ed598c3a2c3b7860435ad87e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/palapeli-20.12.1.tar.xz">palapeli-20.12.1</a></td>
   <td align="right">2030kB</td>
   <td><tt>5e7f3ac5185966131f80269cc77d186cf11dc333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/parley-20.12.1.tar.xz">parley-20.12.1</a></td>
   <td align="right">8634kB</td>
   <td><tt>64258be9f436dda1ec19df25dfc3f3dd51adf00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/partitionmanager-20.12.1.tar.xz">partitionmanager-20.12.1</a></td>
   <td align="right">2036kB</td>
   <td><tt>d3b72ecff5a6452d3be832e8230d797fa30d919d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/picmi-20.12.1.tar.xz">picmi-20.12.1</a></td>
   <td align="right">1335kB</td>
   <td><tt>5b5f54e997a9cebab6dfe6e0e78d5c0666d998b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/pimcommon-20.12.1.tar.xz">pimcommon-20.12.1</a></td>
   <td align="right">355kB</td>
   <td><tt>461bbad53150db8520d106e05af3fe3e21b73634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/pim-data-exporter-20.12.1.tar.xz">pim-data-exporter-20.12.1</a></td>
   <td align="right">390kB</td>
   <td><tt>6391a0b6067946d1e3e0fcb26961c55de3d66f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/pim-sieve-editor-20.12.1.tar.xz">pim-sieve-editor-20.12.1</a></td>
   <td align="right">444kB</td>
   <td><tt>6d3b881579c22eb66fe677b83b5ad57e5438ac84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/poxml-20.12.1.tar.xz">poxml-20.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>f5ebf051122776c4d7d03e108279f85e953d8cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/print-manager-20.12.1.tar.xz">print-manager-20.12.1</a></td>
   <td align="right">252kB</td>
   <td><tt>ab4ae5288aab65fbef7c74b43b25d197bd5106b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/rocs-20.12.1.tar.xz">rocs-20.12.1</a></td>
   <td align="right">1457kB</td>
   <td><tt>e25cd22e363cf1b07def34dd294130bce1c17c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/signon-kwallet-extension-20.12.1.tar.xz">signon-kwallet-extension-20.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>6d4dd585b5051e6899bf2cc93b8fb64793059beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/spectacle-20.12.1.tar.xz">spectacle-20.12.1</a></td>
   <td align="right">1136kB</td>
   <td><tt>457e3f95938fae4076d3a15a32995a018c56c336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/step-20.12.1.tar.xz">step-20.12.1</a></td>
   <td align="right">930kB</td>
   <td><tt>c1cf6432c6968ea1ec29dd2df899166c7ad8794d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/svgpart-20.12.1.tar.xz">svgpart-20.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>f2fdf2be645973cde3ddf790cdcce353bd1a02ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/sweeper-20.12.1.tar.xz">sweeper-20.12.1</a></td>
   <td align="right">363kB</td>
   <td><tt>cfdf63738b060e3394fda026620ad7b7a6496181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/umbrello-20.12.1.tar.xz">umbrello-20.12.1</a></td>
   <td align="right">5425kB</td>
   <td><tt>5b6a9c89832266e5b4dee898de8b31320802a29a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/yakuake-20.12.1.tar.xz">yakuake-20.12.1</a></td>
   <td align="right">373kB</td>
   <td><tt>e2c66c67c20b00e57ec52013bc022ac14021c338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.1/src/zeroconf-ioslave-20.12.1.tar.xz">zeroconf-ioslave-20.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b4ebf9d049809d768c7ebbd09baf045bd6ebeeb7</tt></td>
</tr>

</table>
