<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/bluedevil-5.15.3.tar.xz">bluedevil-5.15.3</a></td>
   <td align="right">153kB</td>
   <td><tt>40edc97e2236655114ef0fe77fa357c70fcf07c555fbe1b40d45f2dc7c90b1ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/breeze-5.15.3.tar.xz">breeze-5.15.3</a></td>
   <td align="right">23MB</td>
   <td><tt>4be0b50deb6a3b42e3c09461ebef76f0af758c400c998b627bc72931d8b3fe50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/breeze-grub-5.15.3.tar.xz">breeze-grub-5.15.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c4442805aef54aa74b67e147610e4daac0f32f07685b7df61cb930d89d479d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/breeze-gtk-5.15.3.tar.xz">breeze-gtk-5.15.3</a></td>
   <td align="right">46kB</td>
   <td><tt>4426839fb30cc088a1cedad4c542fc7c0d07a266c3c40ec03c0003ecdd10e3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/breeze-plymouth-5.15.3.tar.xz">breeze-plymouth-5.15.3</a></td>
   <td align="right">102kB</td>
   <td><tt>674090b5776aca915b58cfbeada45895fc51bac0e2d31509628277a2fd24c538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/discover-5.15.3.tar.xz">discover-5.15.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>2b38184677542fabfe6e45217d838570487126aab2242e57129493dc0362d5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/drkonqi-5.15.3.tar.xz">drkonqi-5.15.3</a></td>
   <td align="right">721kB</td>
   <td><tt>5d93698cdb7cec4649a565026d9049493266a593a2ad354985c9f475769e8b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kactivitymanagerd-5.15.3.tar.xz">kactivitymanagerd-5.15.3</a></td>
   <td align="right">82kB</td>
   <td><tt>d5e7afeb00b81fe79b7730b5a13765a47e8c8fd606d89179475c44ba40ade3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kde-cli-tools-5.15.3.tar.xz">kde-cli-tools-5.15.3</a></td>
   <td align="right">572kB</td>
   <td><tt>ef7ac31b6499739779b2c4e1ecbde3500346ca805875e2f93ca6928494f62adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kde-gtk-config-5.15.3.tar.xz">kde-gtk-config-5.15.3</a></td>
   <td align="right">153kB</td>
   <td><tt>488f678d65352f74b96149371f49098be8f22adbdbceb9d2699e8beeb4115cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kdecoration-5.15.3.tar.xz">kdecoration-5.15.3</a></td>
   <td align="right">41kB</td>
   <td><tt>b04d9e2b454ee61f44e5557764782f3a7c73ace2c1a2076ddbce5e78bf36b7fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kdeplasma-addons-5.15.3.tar.xz">kdeplasma-addons-5.15.3</a></td>
   <td align="right">589kB</td>
   <td><tt>364faceba87e8ae4d9d515615a022316cc1115d75e56fe305ee671ff3ab73c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kgamma5-5.15.3.tar.xz">kgamma5-5.15.3</a></td>
   <td align="right">78kB</td>
   <td><tt>be0a76bf328dedeb9911d9d560e625a10850ea438374f39c22e17291abcd9689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/khotkeys-5.15.3.tar.xz">khotkeys-5.15.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>85d6705dec38e38d259bc9a721a75a9bd4abde636a1d7406bc1dc5390d6dd33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kinfocenter-5.15.3.tar.xz">kinfocenter-5.15.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ff400367d5487775acc2b889c91aec92254b8514d59473a621464e2ca36ecfe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kmenuedit-5.15.3.tar.xz">kmenuedit-5.15.3</a></td>
   <td align="right">790kB</td>
   <td><tt>4b5d390e8f5f8af4f2120dfa22b43b64889858a573f8e14c22bd5e15fb85ebe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kscreen-5.15.3.tar.xz">kscreen-5.15.3</a></td>
   <td align="right">120kB</td>
   <td><tt>0e9945afce9d616ab34da5a985410aac8fd3d9f15630db74d53e6540ad0af8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kscreenlocker-5.15.3.tar.xz">kscreenlocker-5.15.3</a></td>
   <td align="right">119kB</td>
   <td><tt>cafe0b7b2ce65e1cf86e6b87f8281380d531949c445e22a23714b1bce2bbf42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/ksshaskpass-5.15.3.tar.xz">ksshaskpass-5.15.3</a></td>
   <td align="right">20kB</td>
   <td><tt>3a39bb7d0f2eba303d28ed0cb0df76ae7b12c58c205ec335ba92acacc96132ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/ksysguard-5.15.3.tar.xz">ksysguard-5.15.3</a></td>
   <td align="right">488kB</td>
   <td><tt>38219e61ce3e1bac0463b8d8f538f582e55976750f01cd44b2be105c7d53afdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kwallet-pam-5.15.3.tar.xz">kwallet-pam-5.15.3</a></td>
   <td align="right">18kB</td>
   <td><tt>239de5e3472366aa4247f109f3f026ec3313b6e28e6cea184140cc3145727bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kwayland-integration-5.15.3.tar.xz">kwayland-integration-5.15.3</a></td>
   <td align="right">18kB</td>
   <td><tt>7000f3fc7802e8dc9cb0825fd2cc4c5e2619e80fa12536e4e7cfdd33ad4b2b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kwin-5.15.3.2.tar.xz">kwin-5.15.3.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>3c7b5ced440cf9ecd23b5905727cea4730188fbfe6388b4fcdb5eb3f52323147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/kwrited-5.15.3.tar.xz">kwrited-5.15.3</a></td>
   <td align="right">19kB</td>
   <td><tt>fb3cd2b588f23ecd71d3ac476457cd1e0881172bda9879f4d465e43b9dad0d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/libkscreen-5.15.3.tar.xz">libkscreen-5.15.3</a></td>
   <td align="right">79kB</td>
   <td><tt>728f3c0f3bed38e75b8319a2452da9f864911c4b8206f354d536e2a21e9aee3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/libksysguard-5.15.3.tar.xz">libksysguard-5.15.3</a></td>
   <td align="right">563kB</td>
   <td><tt>d2e22a6ed3cb04c1b398f4609faa8eea10a97d89c29230c544ab57d643598e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/milou-5.15.3.tar.xz">milou-5.15.3</a></td>
   <td align="right">55kB</td>
   <td><tt>017c8e26583926eb15936227236d19e120868775521b7bdc64e86b9f5b4d38df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/oxygen-5.15.3.tar.xz">oxygen-5.15.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6bb7e108291f1b82881de71a1df99429e90922e8fb2318d99a7002be6b4c0628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-browser-integration-5.15.3.tar.xz">plasma-browser-integration-5.15.3</a></td>
   <td align="right">109kB</td>
   <td><tt>59c984d174ab484899b9b1d7d4600f5be3152d8bbed2fb8f44cdbf617e510ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-desktop-5.15.3.2.tar.xz">plasma-desktop-5.15.3.2</a></td>
   <td align="right">8.7MB</td>
   <td><tt>21e54d489817751173049122410737db641a8e58955b84264a4ec861e302ff8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-integration-5.15.3.tar.xz">plasma-integration-5.15.3</a></td>
   <td align="right">53kB</td>
   <td><tt>659c4a8c5b890cdf41b788e0609f680b00d6f609610d46af8656484057141c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-nm-5.15.3.tar.xz">plasma-nm-5.15.3</a></td>
   <td align="right">753kB</td>
   <td><tt>7fe3d72bd81f57cf2df0fcb33e957355110efe31f4b1a71a4c0b6ca121813cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-pa-5.15.3.tar.xz">plasma-pa-5.15.3</a></td>
   <td align="right">93kB</td>
   <td><tt>450476c3eb8175e339615b93e0cf5cbc1dd7abdbe2b25e87b0b292555a8b70d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-sdk-5.15.3.tar.xz">plasma-sdk-5.15.3</a></td>
   <td align="right">243kB</td>
   <td><tt>5ce9a20fada3a7789a6f7fbd45dd64cbcaeee886f0258a415187e24fbc07f0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-tests-5.15.3.tar.xz">plasma-tests-5.15.3</a></td>
   <td align="right">1kB</td>
   <td><tt>6f3ea72e3ec05749eb7d7bd7b4df9b2f73e584adca0713b8d11307df0287bbfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-vault-5.15.3.tar.xz">plasma-vault-5.15.3</a></td>
   <td align="right">118kB</td>
   <td><tt>5e26547c97cfba5f209df239298869c24d2ba2bb0594e90eb0d985f0b16dc9d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-workspace-5.15.3.tar.xz">plasma-workspace-5.15.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a9b8e2af593929695c3b2f9d3c709d4a0a4d760dcbe439ca2f24efd8d06b3922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plasma-workspace-wallpapers-5.15.3.tar.xz">plasma-workspace-wallpapers-5.15.3</a></td>
   <td align="right">23MB</td>
   <td><tt>043b459e801d33caad8743f1133eb27edebb42171b08393bda92ea69ccd6fa75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/plymouth-kcm-5.15.3.tar.xz">plymouth-kcm-5.15.3</a></td>
   <td align="right">38kB</td>
   <td><tt>20855f84a48921205dbab803fe64a89a56547200e9c2a96c4cec0e239c4d7939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/polkit-kde-agent-1-5.15.3.tar.xz">polkit-kde-agent-1-5.15.3</a></td>
   <td align="right">41kB</td>
   <td><tt>5e7b4db91293b00c0267b73a1d5186cd65bcd8d2d369b10f5f4fd59fe029f41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/powerdevil-5.15.3.tar.xz">powerdevil-5.15.3</a></td>
   <td align="right">585kB</td>
   <td><tt>24acaef3e78b8cea665ca12ade119d8e589de74cc5bf0bdcc7398201e998f1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/sddm-kcm-5.15.3.tar.xz">sddm-kcm-5.15.3</a></td>
   <td align="right">59kB</td>
   <td><tt>026a2ab9746d0705c5069b48d3bc6b641119a44f62fa68a0b155b334c34577d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/systemsettings-5.15.3.2.tar.xz">systemsettings-5.15.3.2</a></td>
   <td align="right">177kB</td>
   <td><tt>42095b95a7866aa667e30c15a7ebc9b00225fdb4f06668510fdf63a18573102f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/user-manager-5.15.3.tar.xz">user-manager-5.15.3</a></td>
   <td align="right">532kB</td>
   <td><tt>444b9a69f3347caa81ab1c1baaabb135a9cae783c1e91cc7e40c3626fb784ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.3/xdg-desktop-portal-kde-5.15.3.tar.xz">xdg-desktop-portal-kde-5.15.3</a></td>
   <td align="right">58kB</td>
   <td><tt>27aefac029f9d7fdc2ad18b7b0f68c2695074633fdb6bee2cb7c5a5224f19581</tt></td>
</tr>

</table>
