<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeaccessibility-4.6.5.tar.bz2">kdeaccessibility-4.6.5</a></td><td align="right">5.0MB</td><td><tt>6e40aab7c95671070cad0b5f59507ff887414ce0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeadmin-4.6.5.tar.bz2">kdeadmin-4.6.5</a></td><td align="right">776KB</td><td><tt>010912294a12461a8a0bfdce69c5373b37342cb6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeartwork-4.6.5.tar.bz2">kdeartwork-4.6.5</a></td><td align="right">112MB</td><td><tt>9bcf223f7ee2ca0e12f9c8ab8235dcd35f589a8d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdebase-4.6.5.tar.bz2">kdebase-4.6.5</a></td><td align="right">2.6MB</td><td><tt>1a902d22956daaf380ceefe68f8db75b8b760ae6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdebase-runtime-4.6.5.tar.bz2">kdebase-runtime-4.6.5</a></td><td align="right">5.6MB</td><td><tt>e91d35af2a916259305cc7efc2f3a3fbc8b22def</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdebase-workspace-4.6.5.tar.bz2">kdebase-workspace-4.6.5</a></td><td align="right">67MB</td><td><tt>bdcdbf235b3e3941b968f57afd3d490e7ca106e5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdebindings-4.6.5.tar.bz2">kdebindings-4.6.5</a></td><td align="right">6.8MB</td><td><tt>e63a0b0eec92320df2c2c539b916c5ee9425a689</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeedu-4.6.5.tar.bz2">kdeedu-4.6.5</a></td><td align="right">69MB</td><td><tt>64247eb68b2710a66baaf824d798e46b34ca4d4f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdegames-4.6.5.tar.bz2">kdegames-4.6.5</a></td><td align="right">57MB</td><td><tt>28c4908439f493fa30436875a77de01a21e88f4c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdegraphics-4.6.5.tar.bz2">kdegraphics-4.6.5</a></td><td align="right">5.3MB</td><td><tt>1e64698993d0754dfae1296d8d16ba9370f9a08c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdelibs-4.6.5.tar.bz2">kdelibs-4.6.5</a></td><td align="right">13MB</td><td><tt>9bb948769a3a5d4d5b6c65e84a8cf570bd7bc120</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdemultimedia-4.6.5.tar.bz2">kdemultimedia-4.6.5</a></td><td align="right">1.6MB</td><td><tt>081bead5ee758d169f3119c138424929b001d04f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdenetwork-4.6.5.tar.bz2">kdenetwork-4.6.5</a></td><td align="right">8.3MB</td><td><tt>cc398063da61f9f9ef0db4455dc0c989a4e68a25</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdepimlibs-4.6.5.tar.bz2">kdepimlibs-4.6.5</a></td><td align="right">3.1MB</td><td><tt>6bf82a0934d5a16223f193e848bf3696a40e4820</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeplasma-addons-4.6.5.tar.bz2">kdeplasma-addons-4.6.5</a></td><td align="right">1.9MB</td><td><tt>3bce5e41160ec318dbea9128c3e9104a4428deb8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdesdk-4.6.5.tar.bz2">kdesdk-4.6.5</a></td><td align="right">5.8MB</td><td><tt>8cffa0472fbe1096ebfea9bde49aaff76a145b34</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdetoys-4.6.5.tar.bz2">kdetoys-4.6.5</a></td><td align="right">396KB</td><td><tt>0ce43a76f5b7005d60430692ae87421661281f1f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdeutils-4.6.5.tar.bz2">kdeutils-4.6.5</a></td><td align="right">3.6MB</td><td><tt>1c2ae023d9a6bcf72d3cebd0d7df2e6a175ffdcb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/kdewebdev-4.6.5.tar.bz2">kdewebdev-4.6.5</a></td><td align="right">2.2MB</td><td><tt>b7ec635c438f865337f5ef1e7bbaca23643ed871</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.6.5/src/oxygen-icons-4.6.5.tar.bz2">oxygen-icons-4.6.5</a></td><td align="right">356MB</td><td><tt>a71990ebe08dd86ba49ac40011a802c4f28cf4ea</tt></td></tr>
</table>
