@import "plasma-announcement-shared";

.header-plasma, .header-plasma * {
  color: #222 !important;
}

.system-settings {
  h2, img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

main li {
  font-size: 1.15rem;
}
