---
title: KDE 3.1 New Feature Guide
---
<table width="720" cellspacing="0" cellpadding="12" border="1" align="center" bgcolor="#fdfdfa">
<tr><td>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td background="img/kde_logo_bg.png">
  <a href="http://www.kde.org/" target="_blank"><img
  src="img/kde_logo.jpg" width="296" height="79"
  alt="KDE.org" title="The K Desktop Environment" border="0" /></a>&nbsp;
</td></tr></table>
<p />
<h2 align="center">
  KDE 3.1 New Feature Guide
</h2>
<div align="center">
<small><em>Tuesday, January 28<sup>th</sup>, 2003</em></small>
</div>
<p align="justify">
  With the <a href="http://www.kde.org/">KDE Project</a>
  <a href="http://www.kde.org/announcements/announce-3.1.php">announcing</a> the
  release of KDE 3.1 today, the burning question on everyone's mind is,
  &quot;<em>What's new in it for me?</em>&quot;  KDE 3.1, easily the
  strongest Open Source desktop ever to ship, offers a bountiful basket
  of new goodies for just about everyone.  Read on and explore the
  exciting new features and applications that the new KDE 3.1 offers you!
</p>
<h3>Index</h3>
<ul>
<li><a href="../feature_guide_2">Personal Information Management</a></li>
<li><a href="../feature_guide_3">Enterprise Integration</a></li>
<li><a href="../feature_guide_4">Browsing</a></li>
<li><a href="../feature_guide_5">Eye Candy</a></li>
<li><a href="../feature_guide_6">Multimedia / Graphics</a></li>
<li><a href="../feature_guide_7">The Desktop</a></li>
<li><a href="../feature_guide_8">Edutainment / Games</a></li>
<li><a href="../feature_guide_9">Under the Hood</a></li>
<li><a href="../feature_guide_10">Administration</a></li>
<li><a href="../feature_guide_11">Development / Internationalization</a></li>
<li><a href="../feature_guide_12">More Information / Some KDE Stats</a></li>
</ul>
<p />
<p align="center"><font size="2"><a href="../feature_guide_flat">Flat</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../feature_guide_2">Next (Personal Information Management)</a></font></p>
<p align="center">
<font size="2">1&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_2">2</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_3">3</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_4">4</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_5">5</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_6">6</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_7">7</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_8">8</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_9">9</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_10">10</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_11">11</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../feature_guide_12">12</a></font></p><p />
  <hr size="1" width="67%" noshade="noshade" align="center" />
<p align="center">
  <font size="2">Written by <em>Andreas "Dre" Pour</em> for the
  <a href="http://www.kdeleague.org/">KDE League, Inc.</a></font>
</p>
</td></tr></table>

